body {
    background-color:#eeeeee;
}

h1 {
    text-align: center;
}

.panel-secondary {
    margin-left: 50px;
}

.res-table {
    margin-left: 50px;
}

.title {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3K6ja1ukfO7tyjJ4FSyVj4x0zq-0mLskPyy7hzdSuBa8r0C_IxA");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;  
    background-size: 900px 200px;
    color: yellow;
    font-size: 50px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: left;
 }

#new-res {
    margin-left: 150px;
    margin-bottom: 50px;
}